{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}
<div class="row">
{% set first = first|default(false) %}

{% set url_parameters = {'id': id } %}
{% if parent is not null %}
    {% set url_parameters = url_parameters|merge({'parentId': parent.id}) %}
{% endif %}

{% block fos_comment_comment_form_holder %}
    {% if fos_comment_can_edit_thread(thread) %}
        <div class="fos_comment_thread_commentable">
            <button id="filactu" class="btn btn-danger col-xs-offset-9" data-url="{{ url('fos_comment_edit_thread_commentable', {'id': thread.id, 'value': not thread.commentable}) }}" class="fos_comment_thread_commentable_action">
                {{ (thread.commentable ? 'fos_comment_thread_close' : 'fos_comment_thread_open') | trans({}, 'FOSCommentBundle') }}
            </button>
        </div>
    {% endif %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div id="comment" class="col-xs-10 col-xs-offset-1">
        <div class="fos_comment_comment_form_holder">

            {% block fos_comment_form_title %}
                {% if first %}
                    <h3 class="text-center">{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_headline_first{% endtrans %}</h3>
                {% elseif parent is not null %}
                    <h3>{% trans with {"%name%": parent.authorName } from 'FOSCommentBundle' %}fos_comment_comment_reply_reply_to{% endtrans %}</h3>
                {% else %}
                    <h3 class="text-center">{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_headline{% endtrans %}</h3>
                {% endif %}
            {% endblock %}

            {% block fos_comment_comment_new_form %}

                <form class="fos_comment_comment_new_form" action="{{ url('fos_comment_post_thread_comments', url_parameters) }}" data-parent="{{ parent.id|default() }}" method="POST">

                    {% block fos_comment_form_fields %}
                        <div class="fos_comment_form_errors">
                        {{ form_errors(form) }}
                        {{ form_errors(form.body) }}
                        </div>
                        <div class="col-xs-12">{{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}</div>
                        {{ form_rest(form) }}
                    {% endblock %}

                    <div class="fos_comment_submit">
                        {% block fos_comment_form_submit %}
                            {% if parent is not null %}
                                <input type="button" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_reply_cancel{% endtrans %}" class="fos_comment_comment_reply_cancel" />
                            {% endif %}
                            <input id="valider" class="btn btn-success col-xs-offset-11" type="submit" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_submit{% endtrans %}" />
                        {% endblock %}
                    </div>

                </form>

            {% endblock fos_comment_comment_new_form %}
            {% endif %}
        </div>
    </div>
{% endblock fos_comment_comment_form_holder %}
</div>