{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
	{% block fos_user_content %}

<div class="row">
	<div id="profile" class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-lg-2 col-lg-offset-1">
		<img src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png">
		<p>{{ 'Nom'|trans }}: {{ user.lastName }}</p>
		<p>{{ 'Prénom'|trans }}: {{ user.firstName }}</p>
		<p>{{ 'Pseudo'|trans }}: {{ user.username }}</p>
		<p>{{ 'Email'|trans }}: {{ user.email }}</p>
	</div>
</div>

<div>
<div id="user" class="col-xs-3 col-xs-offset-8 col-sm-2 col-sm-offset-8 col-lg-2 col-lg-offset-8">
	{% for user in users %}
	<div class="col-lg-12">
		<li><a href="{{ path('fos_user_profile_user', { 'id': user.id }) }}">{{ user.username }}</a></li>
	</div>
	{% endfor %}

</div>




{% endblock fos_user_content %}