{% extends '::base.html.twig' %}


{% block body %}
	<div class="col-xs-6 col-xs-offset-1">
		<ol class="breadcrumb">
	  		<li><a id="fil" href="{{ path('homepage') }}">Accueil</a></li>
	  		<li><a id="fil" href="{{ path('séries')}}">Séries</a></li>
	  		<li class="active" >{{ saisons.numeroSaisons }}</li>
		</ol>
	</div>
	<div class="row" >
		<div class="col-xs-5 col-xs-offset-1 ">
			<h3>{{ saisons.numeroSaisons }}</h3>
		</div>
		
	</div>
<div class="row">
	<a class="col-xs-1 col-xs-offset-9" href="{{ path('episodes_new', { 'id' : saisons.id})}}"><button  class="btn btn-warning"  type="submit" id="_submit" name="_submit" value="{{ ' Ajouter'}}" /> Ajout épisodes </button></a>
	<a class="col-xs-1 col-xs-offset-9" href="{{ path('saison_update', { 'id' : saisons.id})}}"><button  class="btn btn-warning"  type="submit" id="_submit" name="_submit" value="{{ ' Modifier'}}" /> Modifier saisons </button></a>
    <a class="col-xs-1 col-xs-offset-9" href="{{ path('saison_delete', { 'id' : saisons.id})}}"><button  class="btn btn-danger"  type="submit" id="_submit" name="_submit" value="{{ ' Supprimer'}}" /> Supprimer saisons </button></a>

		<div class="col-xs-4 col-xs-offset-1">
	   			<img id="imagesaison2" src="{{ saisons.posterSaisons }}" alt="poster">
		</div>
	<div class="col-xs-2 text-center">
		<div id="divsaison">
			{% for saison in saisons.episodes %}
				<a id="episodeslink" href="{{ path('episode', { 'id' : saison.id})}}"><p>{{ saison.numeroEpisode}}</p></a>
			{% endfor %}
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div id="divresume">
			<p id="resume" class="text-justify">{{ saisons.resumeSaisons }}</p>
		</div>
	</div>
</div>
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': saisons.id} %}
{% endblock %}