{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-1">
        <ol class="breadcrumb">
            <li><a id="fil" href="{{ path('homepage') }}">Accueil</a></li>
            <li><a id="fil" href="{{ path('saison')}}">Saison</a></li>
            <li class="active" >Saison {{ saison.numeroSaisons}}</li>
        </ol>
    </div>
</div>
<div class="row">        
</div>
<div class="row">
            <div id="formcolor" class="col-xs-6 col-xs-offset-3">
                 <h1 class="text-center">Saisons</h1>
                {{ form_start(update_form) }}
            <div>
                {{ form_label(update_form.numeroSaisons) }}
                {{ form_widget(update_form.numeroSaisons, {'attr': {'class': 'form-control'}}) }}
            </div>
                <div>
                    {{ form_widget(update_form.saisonPoster) }}
                </div>
             <div>
                {{ form_label(update_form.resumeSaisons) }}
                {{ form_widget(update_form.resumeSaisons, {'attr': {'class': 'form-control'}}) }}
            </div>
                <a class="col-lg-1 col-lg-offset-10" href="{{ path('saison')}}"><button id="valider" class="btn btn-success"  type="submit" id="_submit" name="_submit" value="{{ 'Valider'}}">Valider</button></a>
                {{ form_end(update_form) }}
            </div>
</div>
{% endblock %}
                