<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    </head>
    <body>
        <header>
            <div class="row">
                <nav class="col-xs-6 col-xs-offset-3">
                    <a href="{{ path('homepage') }}"><div id="Accueil"class="col-xs-2 text-center">Accueil</div></a>
                    <a href="{{ path('news') }}"><div id="News"class="col-xs-2 text-center">News</div> 
                    <a href="{{ path('séries') }}"><div id="Series" class="col-xs-2 text-center">Séries</div> </a>
                    <div id="programmes" class="col-xs-4 text-center">Programmes séries</div>
                    <a href="{{ path('fos_user_security_login') }}"><div id="Membres" class="col-xs-2 text-center">Membres</div></a>
                </nav>
            </div>
        </header>
        
        {% block body %}{% endblock %}
        <div class="row">
            <footer class="text-center">
                <p>Copyright Igles</p>
            </footer>
        </div>
    </body>
</html>
