{% trans_default_domain 'FOSUserBundle' %}
<div id="formcolorsign" class="col-xs-8 col-xs-offset-2">
        <form action="{{ path("fos_user_registration_register") }}" method="post" class="fos_user_registration_register">
            <div class="col-sm-9 col-sm-offset-3">
                <h1>Créer un compte</h1>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'aria-describedby':'username'}}) }}
            </div>
             <div class="col-sm-6 col-sm-offset-3">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'aria-describedby':'email'}}) }}
            </div>
             <div class="col-sm-6 col-sm-offset-3">
                {{ form_label(form.birthday) }}
                {{ form_widget(form.birthday, {'attr': {'class': 'form-control', 'aria-describedby':'birthday'}}) }}
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'aria-describedby':'password'}}) }}
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'aria-describedby':'password2'}}) }}
            </div>
                {{ form_widget(form) }}
            <div class="col-sm-3 col-sm-offset-3">
                <input id="valider" class="btn btn-success" type="submit" value="{{ 'Valider'|trans }}" class="btn btn-default" />
            </div>
            {{ form_end(form) }}
        </form>
</div>