{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <form action="{{ path("fos_user_registration_register") }}" method="post" class="fos_user_registration_register">
        <div class="col-sm-9 col-sm-offset-3">
            <h1>Créer un compte</h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_label(form.username) }}
            <div class="input-group">
                <span class="input-group-addon" id="username"><i class="fa fa-user"></i></span>
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'aria-describedby':'username'}}) }}
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_label(form.plainPassword.first) }}
            <div class="input-group">
                <span class="input-group-addon" id="password"><i class="fa fa-key"></i></span>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'aria-describedby':'password'}}) }}
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_label(form.plainPassword.second) }}
            <div class="input-group">
                <span class="input-group-addon" id="password2"><i class="fa fa-key"></i></span>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'aria-describedby':'password2'}}) }}
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_label(form.email) }}
            <div class="input-group">
                <span class="input-group-addon" id="email"><i class="fa fa-at"></i></span>
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'aria-describedby':'email'}}) }}
            </div>
        </div>
            {{ form_widget(form) }}
        <div class="col-sm-3 col-sm-offset-3">
            <input type="submit" value="{{ 'Valider'|trans }}" class="btn btn-default" />
        </div>
        {{ form_end(form) }}
