{% extends '::base.html.twig'%}

{% block body %}
<div class="col-xs-6 col-xs-offset-3">
		<ol class="breadcrumb">
	  		<li><a id="fil" href="{{ path('fos_user_profile_show') }}">Profile</a></li>
	  		<li class="Admin" >Série</li>
		</ol>
	</div>
<div class="row"><h1 class="col-xs-4 col-xs-offset-4">Liste des membres</h1></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom utilisateur</th>
						<th>Groupe</th>
						<th>Promote</th>
						<th>Bannir</th>
					</tr>
				</thead>
				{% for user in users %}
				<tbody>
					<tr>
						<td>{{ user.username|e }} </td>
						<td>{% for role in user.roles%}
								<ul>
									<li>{{ role }}</li>
								</ul> 
							{% endfor %}</td>
						<td><a href="{{ path('igles_promote_user', { 'id': user.id }) }}"><input 
						class="btn btn-success" class="btn btn-default" type="submit" value="Promote"></a></td>
						
						<td>{% if user.enabled == 1 %}
					<a href="{{ path('igles_ban_user', { 'id': user.id }) }}"><input class="btn btn-danger" type="submit" value="Ban"></a>
					{% elseif user.enabled == 0 %}
					<a href="{{ path('igles_unban_user', { 'id': user.id }) }}"><input class="btn btn-warning" type="submit" value="Unban"></a>{% endif %}</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
{% endblock %}