{% extends '::base.html.twig' %}


{% block body %}
	<div class="col-xs-6 col-xs-offset-1">
		<ol class="breadcrumb">
	  		<li><a id="fil" href="{{ path('homepage') }}">Accueil</a></li>
	  		<li><a id="fil" href="{{ path('séries') }}">Séries</a></li>
	  		<li><a id="fil" href="">Saison</a></li>
	  		<li class="active">{{ episodes.nomEpisode }}</li>
		</ol>
	</div>
<div class="row" >
		<div class="col-xs-5 col-xs-offset-1">
			<h3>{{ episodes.nomEpisode }}</h3>
		</div>
</div>
<div class="row">
	<div class="col-xs-12 col-xs-offset-">
	   		<img  id="imagesaison" src="{{ episodes.posterEpisode }}" alt="poster">
	</div>	
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<p id="resume" class="text-justify">{{ episodes.resumeEpisode }}</p>	
	</div>
</div>
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': episodes.id} %}
{% endblock %}