{% extends '::base.html.twig' %}


{% block body %}
	<div class="col-xs-6 col-xs-offset-1">
		<ol class="breadcrumb">
	  		<li><a id="fil" href="{{ path('homepage') }}">Accueil</a></li>
	  		<li><a id="fil" href="{{ path('séries') }}">Séries</a></li>
	  		<li><a id="fil" href="">Saison</a></li>
	  		<li class="active">{{ episodes.nomEpisode }}</li>
		</ol>
	</div>
	<div class="row">

		<div class="col-xs-7 col-xs-offset-10">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{% if is_granted("ROLE_ADMIN") %}
					<div class="dropdown">
						<button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Modifier
							<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="{{ path('episodes_update', { 'id' : episodes.id})}}">Modifier Episode</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('episodes_delete', { 'id' : episodes.id})}}">Supprimer</a></li>
						</ul>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
<div class="row" >
		<div class="col-xs-4 col-xs-offset-1">
			<h3>{{ episodes.nomEpisode }}</h3>
		</div>
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% if app.user.Vue(episodes) %}
			<a id="vue" href="{{ path('episode_vue',{'id':episodes.id}) }}" class="btn btn-info glyphicon glyphicon-eye-open" ></a>
		{% else %}
			<a id="vue" href="{{ path('episode_vue',{'id':episodes.id}) }}" class="btn btn-info glyphicon glyphicon-eye-close"></a>
		{% endif %}
	{% endif %}
</div>
<div class="row">
	<div class="col-xs-12 ">
	   		<img  id="imagesaison" src="{{ episodes.posterEpisode }}" alt="poster">
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<p id="resume" class="text-justify">{{ episodes.resumeEpisode }}</p>	
	</div>
</div>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': episodes.id} %}
	{% endif %}
{% endblock %}