{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-6 col-xs-offset-1">
        <h1>Serie creation</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="col-xs-1 col-xs-offset-4" href="{{ path('séries')}}"><button id="connexion" class="btn btn-default"  type="submit" id="_submit" name="_submit" value="{{ 'Valider'}}">Valider</button></a>
        {{ form_end(form) }}

    </div>

<div class="row">
	<form >
		<div class="form-group">
		    <div class="col-xs-6 col-xs-offset-3 text-center">
		        <h1>Serie creation</h1>
		    </div>
		        <div class="col-sm-6 col-sm-offset-3">
		        	{{ form_label(form.nomSerie) }}
		            {{ form_widget(form.nomSerie, {'attr': {'class': 'form-control'}}) }}
		        </div>
		        <div class="col-sm-6 col-sm-offset-3">
		        	{{ form_label(form.posterSerie) }}
		            {{ form_widget(form.posterSerie, {'attr': {'class': 'form-control'}}) }}
		        </div>
		        <div class="col-sm-6 col-sm-offset-3">
		        	{{ form_label(form.resumeSerie) }}
		            {{ form_widget(form.resumeSerie, {'attr': {'class': 'form-control'}}) }}
		        </div>
		        	{{ form_widget(form) }}
		        <div class="col-sm-3 col-sm-offset-3">
            		<input type="submit" value="{{ 'Valider'|trans }}" class="btn btn-default" />
        		</div>
		            <!-- <a class="col-xs-6 col-xs-offset-3" href="{{ path('séries')}}"><button id="connexion" class="btn btn-default"  type="submit" id="_submit" name="_submit" value="{{ 'Valider'}}" />Valider</button></a> -->
	    </div>
    </form>
    {{ form_end(form) }}
</div>

{% endblock %}


