{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="col-xs-6 col-xs-offset-1">
        <h1>Serie creation</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="col-xs-1 col-xs-offset-4" href="{{ path('séries')}}"><button id="connexion" class="btn btn-default"  type="submit" id="_submit" name="_submit" value="{{ 'Valider'}}">Valider</button></a>
        {{ form_end(form) }}

    </div>
{% endblock %}
