{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-xs-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-1">
        <ol class="breadcrumb">
            <li><a id="fil" href="{{ path('homepage') }}">Accueil</a></li>
            <li><a id="fil" href="{{ path('séries') }}">Séries</a></li>
            <li class="active" >{{ series.nomSerie }}</li>
        </ol>
    </div>
</div>
    <div class="row">

        <div class="col-xs-7 col-xs-offset-10">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if is_granted("ROLE_USER") %}
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Modifier
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('serie_update', { 'id' : series.id})}}">Modifier Séries</a></li>
                    <li><a href="{{ path('saison_new', { 'id' : series.id})}}">Ajouter Saison</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="divider"></li>
                    <li><a href="{{ path('serie_delete', { 'id' : series.id})}}">Supprimer</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-lg-7 col-lg-offset-1">
                <h2>{{ series.nomSerie }}</h2></a>
    {% include 'DCSRatingBundle:Rating:rating.html.twig' with {'id' : series.id} %}
            </div>
        </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1 col-lg-3 col-lg-offset-1">
                <img id="imagesaison" src="{{ asset(series.seriePoster.getWebPath)}}" alt="poster">
        </div>
        <div class="col-xs-2 col-xs-offset-1 col-lg-2 col-lg-offset-2 text-center">
            <div id="divsaison">
                {% for serie in series.saisons %}
                        {% if (serie.moderationSaison == 1) %}
                    <a id="saisons" href="{{ path('saisonone', { 'id' : serie.id})}}"><p>Saison {{ serie.numeroSaisons }}</p></a>
                        {% endif %}
                {% endfor %}
            </div>    
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="row">
        <div id="suivre" class="col-xs-1 col-xs-offset-1">
        {% if app.user.Suivre(series) %}
            <a id="follow" href="{{ path('follow',{'id':series.id}) }}" class="btn btn-primary" >Ne plus suivre</a>
        {% else %}
            <a id="unfollow" href="{{ path('follow',{'id':series.id}) }}" class="btn btn-primary ">Suivre</a>
        {% endif %}
        </div>
    </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <h5>Voter ?</h5>
                {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : series.id, 'role' : 'ROLE_USER'} %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1 text-justify">
            <div id="divresume">
                <h3>Synopsis :</h3>
                <p id="resume" class="text-justify">{{ series.resumeSerie }}</p>
            </div>    
        </div>
    </div>
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': series.id} %}
{% endblock %}