{% extends '::base.html.twig' %}


{% block body %}
	<div class="col-xs-6 col-xs-offset-2">
		<ol class="breadcrumb">
	  		<li><a id="fil" href="{{ path('homepage') }}">Accueil</a></li>
	  		<li><a id="fil" href="{{ path('séries') }}">Séries</a></li>
	  		<li class="active" >Saison</li>
		</ol>
	</div>

		<div class="row">
			<div class="col-xs-3 col-xs-offset-2">
				<h2>{{ series.nomSerie }}</h2></a>
			</div>
		</div>
	<div class="row">
		<div class="col-xs-3 col-xs-offset-2">
				<img id="imagesaison" src="{{ series.posterSerie }}" alt="poster">
		</div>	
		<div class="col-xs-2 col-xs-offset-3 text-center">
			<div id="divsaison">
				{% for serie in series.saisons %}
					<a id="saisons" href="{{ path('saisonone', { 'id' : serie.id})}}"><p>{{ serie.numeroSaisons }}</p></a>
				{% endfor %}
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 text-justify">
			<div id="divresume">
				<h3>Synopsis :</h3>
				<p id="resume" class="text-justify">{{ series.resumeSerie }}</p>
			</div>	
		</div>
	</div>
{% endblock %}