{% extends 'base.html.twig' %}

{% block body %}
    <h1>Series</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <th>Nom serie</th>
                <td>{{ series.nomSerie }}</td>
            </tr>
            <tr>
                <th>Poster serie</th>
                <td>{{ series.posterSerie }}</td>
            </tr>
            <tr>
                <th>Resume serie</th>
                <td>{{ series.resumeSerie }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('séries') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
